body {
    background-color: #0C0927;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.geral {
    width: 100%;
}

.menulateral {
    color: white;
    height: 100vh;
    border: solid red;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
}

.conteudo {
    color: #8C89A6;
    padding-top: 6%;
    font-size: 115%;
}

.tituloconteudo {
    color: #0AFFC4;
    font-size: 130%;
}

.boxiconelateral {
    max-width: 80px;
}

.iconelateral {
    max-width: 30px;
    max-height: 30px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    width: 80%;
    float: left;
}

.texto-logo {
    font-size: 180%;
    line-height: 120%;
}

.texto-descricao {
    font-size: 120%;
    line-height: 140%;
    color: #8C89A6;
}

.texto-menulateral {
    font-size: 120%;
    line-height: 250%;
    color: #8C89A6;
}

.containerconteudomenu {
    margin-bottom: 40px;
}

.containercursos {
    margin-bottom: 20px;
}

.textocurso {
    color: white;
}