body {
    background-color: #0C0927;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.geral {
    width: 100%;
}

.menulateral {
    color: white;
    height: 100vh;
    border: solid red;
}

.conteudo {
    color: white;
}

.iconelateral {
    max-width: 30px;
    max-height: 30px;
}